################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/10078043 michealgastroscope 2023.07.14 08_57_23 [SB100-022].mp4
